<div class="footer">
    <div class="container">
        <div class="row" style="justify-content: center; " >
            <div class="col-md-4 contact-info "  style="padding: 1px;" >
                <h5> GET IN TOUCH </h5>
                <p> <i class="fas fa-envelope"></i>samahamen20001gmail.com</p>
              <p> <i class="fas fa-phone"></i>01011144506</p>
                     
            </div>
            <div class="col-md-4 text-md-right text-center" style="margin-top: 50px; ">
                <button class="btn btn-light">CONTACT ME</button>
            </div>
            <div class="social-icons col-md-4 " style="margin: auto; ">
                <!-- <p> -->
                <a href="https://www.linkedin.com/in/samah-amen"><i class="fab fa-linkedin"></i></a>
                <a href="samahamen20001@gmail.com"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            <!-- </p> -->
            
                <p>Copyright &copy; 2024</p>
            </div>
        </div>
    
    </div>
</div>