<section class="skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Skills</h2>
                <p>Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>My Focus</h4>
                <ul class="focus-list" >
                    <li>UI/UX Design</li>
                    <li>Responsive Design</li>
                    <li>Web Design</li>
                    <li>web Devlopment </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 90%;">HTML</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 80%;">CSS</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 70%;">JavaScript</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 60%;">Tailwind</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 75%;">React</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">Figma</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 65%;">Node.js</div>
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: 55%;">Mongo DB</div>
                </div>
            </div>
        </div>
    </div>
