<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="girl" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container mb-12" >
    <div  class="row g-0" >
    <div class=" col-md-6  " >
    <img style="height: 700px;" src="flower.jpg"  />
    </div>
    <div class="text-center  col-md-4 " style="margin-top: 150px;">
      <h2 style="color: pink;">
        Samah Amen
      </h2>
      <p class="text" style="font-size: 35px; color:rgb(155, 105, 105)" >
        Web Developer & Designer
      </p>
      <button style=" 

width: 150px;
    height: 50px;
    font-style: italic;
    font-size: 15px;
    display: inline-block;
    background:linear-gradient(45deg,#87adfe,#ff77cd) ;
    border-radius: 6px;
    border-color: #87adfe;

    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
margin-top: 10%;

      ">Contact me</button>
    </div>
</div>
  </div>