<h2 style="margin-left: 50px; font-style: italic; color: rgb(118, 100, 120); ">Prtofolio</h2>
<div class="container text-center">
    <div class="row">
      <div class="col  m-4   prto" style="background-color: rgb(183, 183, 239);" >
        Web Developer
      </div>
      <div class="col   m-4  prto" style="background-color: rgb(245, 233, 246);">
        Web Application
      </div>
      <div class="col  m-4 prto  " style="background-color: rgb(183, 183, 239);" >
        Designer
      </div>
    </div>

    <div class="row">
      <div class="col m-4  prto"  style="background-color: rgb(183, 183, 239);"  >
        Web Application
      </div>
      <div class="col m-4 prto" style="background-color: rgb(245, 233, 246);" >
        Designer
      </div>
      <div class="col m-4   prto" style="background-color: rgb(245, 233, 246);"  >
        Web Application
      </div>
     
      
    </div>
  </div>
